a b {
    cursor:pointer;
}

#webapp-header {
	height:70px;
	width:100%;
	overflow:hidden;
	position:absolute;
	top:0px;
	left:0px;
	text-align: center;
}

#webapp-sections {
	width:600px;
	margin-top:-0px;
	margin-left:auto;
	margin-right:auto;
}

#webapp-sections:after{
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}

#webapp-sections b {
	display:block;
	font-weight:normal;
	background-repeat:no-repeat;
	text-align:left;
	padding-left:24px;
	height:22px;
	margin-left:auto;
	margin-right:auto;
	width:50px;
}

#webapp-sections a.navTeams b{
	background-image:url(../tango-icons/22/apps/mindquarry-teams.png);
	cursor:pointer;
}

#webapp-sections a.navFiles b{
	background-image:url(../tango-icons/22/apps/mindquarry-documents.png);
	cursor:pointer;
}
#webapp-sections a.navWiki b{
	background-image:url(../tango-icons/22/apps/mindquarry-wiki.png);
	cursor:pointer;
}
#webapp-sections a.navTasks b{
	background-image:url(../tango-icons/22/apps/mindquarry-tasks.png);
	cursor:pointer;
}

#webapp-sections {
	 list-style-type: none;
	text-align: center; 
}
#webapp-sections li {
	display:inline;
	 list-style-type: none;
}
#webapp-sections a {
	color:#ffffff;
	text-decoration:none;
	padding:5px;
	margin:0;
	display:block;
	float:left;
	width:133px;
	height:70px;
	padding-top:20px;
}


















#webapp-footer {
	width:100%;
	text-align:center;
}

#webapp-footer ul {
  margin-top:30px;
  margin-bottom:0px;
  font-size:9pt;
}

#webapp-footer a, #webapp-footer {
  color:#373737;
}

#webapp-footer li {
  display:inline;
  padding-left:5px;
  padding-right:5px;
/*  white-space:nowrap;*/
}

.version-footer {
  display:block;
  margin-top: 0.5em;
  padding-bottom: 1em;
  font-size:9pt;
}

/* Logout and user at the top right */

#user-status-background {
	filter:alpha(opacity=50);   /* IE      */
	-moz-opacity:0.5;           /* Mozilla   */
	opacity: 0.5;               /* newer Mozilla and CSS-3 */		
	border:1px;
	background:#ffffff;	
	border-color:#cccccc;
	border-style: solid;
	position:absolute;
	right:8px;
	top:8px;
	display:none;
	width:278px;
	height:28px;

	z-index:99;
}

#user-status {
	position:absolute;
	right:8px;
	top:8px;
	display:block;
	width:278px;

	z-index:100;
	text-align:left;
	font-size:8pt;
	height:28px;
	padding:3px;
}

#user-and-teamspace-info {
    display:block;
    top:0px;
    left:0px;
    float:left;
}

#user-and-teamspace-info p {
    display:block;
    position:absolute;
    top:45px;
    right:0px;
    font-size:8pt;
    color:#555555;
    z-index:100;
    margin-top:16px;
    margin-right:14px;
    padding:0px;
    
}

#user-and-teamspace-info p span.username {
    display:none;
}

#user-and-teamspace-info ul {
    background-image:url(../tango-icons/22/actions/go-down.png);
    background-position:0px 2px;
    background-repeat:no-repeat;
    position:absolute;
    top:10px;
    height:24px;
}

#user-and-teamspace-info ul, #slarea {
    left:3px;
}

#user-and-teamspace-info ul li {
    display:none;
}

#slarea ul li {
    display:block;
}

#slarea ul, #user-and-teamspace-info ul {
    list-style:none;
    font-size:18pt;
    margin:0px;
    padding:0px;
    
    padding-left:24px;
    padding-top:1px;
}

#user-and-teamspace-info ul:hover {
    border-style:inset;
    background-color: #ffffff;
}

#user-and-teamspace-info ul {
    padding-right:12px;
    cursor:pointer;
    background-color: #eeeeee;
    border:1px outset #555555;
	filter:alpha(opacity=70);   /* IE      */
	-moz-opacity:0.7;           /* Mozilla   */
	opacity: 0.7;               /* newer Mozilla and CSS-3 */
}

#slarea ul {
    padding-top:0px;
    padding-left:0px;
}

#slarea ul a, #slarea ul li a:hover {
    padding-left:26px;
    height:24px;
    display:block;
    background-repeat:no-repeat;
    background-position:2px 2px;
}

#user-and-teamspace-info ul li, #slarea ul li {
    list-style:none;
    font-size:14pt;
    margin:0px;
    text-indent:0px;
}

#teamspace-base-link {
    display:none;
}

#user-and-teamspace-info ul li a, #slarea ul li a {
    display:block;
    text-decoration:none;
    color:#555555;
}

#slarea ul li a:hover {
    display:block;
    text-decoration:none;
    color:#cccccc;
    background-color:#555555;
}

.allyourteams {
    margin-top:0.15em;
}

#slarea .allyourteams {
    margin-top:5px;
    border-top:1px inset #cccccc;
    background:#cccccc;
}

#slarea {
    filter:alpha(opacity=75);
	-moz-opacity:0.75;
	opacity: 0.75;	
    position:absolute;
	top:39px;
    border:1px solid #cccccc;
    background:#ffffff;
    z-index:101;
}

#edit-user-link, #head-help-link, #http-logout-link {
	display:block;
	height:22px;
	width:22px;
	margin:2px;
	font-size:0px;
	color:transparent;
	background-repeat:no-repeat;
	float:right;
}
#head-help-link, #edit-user-link, #http-logout-link {
	text-decoration: none;
}

#head-help-link b, #edit-user-link b, #http-logout-link b, #http-logout-hint b {
	display:none;
}
#edit-user-link {
	background-image:url(../tango-icons/22/categories/preferences-system.png);
}

#head-help-link {
	background-image:url(../tango-icons/22/apps/help-browser.png);
}

#username-display{
	text-decoration:none;
}

/* javascript browsers */
#http-logout-link {
	background-image:url(../tango-icons/22/actions/system-log-out.png);
}


/* non javascript browsers */
#http-logout-hint {
	text-align:center;
	font-size:7pt;
}
#path-to-webapp-root {
	display:none;
}
/* Login form and logout page */

#login-form {
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:240px;
	height:100px;
}

#login-form-password, #login-form-username, #login-form label {
	display:block;
}

#login-form-submit {
	margin-top: 15px;
}

.login-block, .logout-block {
	width:400px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 20px;
	padding: 10px;
	border: 2px solid #cccccc;
}

.login-block p, .login-block a, .logout-block p, .logout-block a {
	display:block;
	text-align:center;
}
