#webapp-header {
  height:70px;
  width:100%;
  overflow:hidden;
  position:absolute;
  top:0px;
  left:0px;
  text-align: center;
}

#webapp-sections {
  margin-top:-0px;
  width:700px;
  margin-left:auto;
  margin-right:auto;
}

#webapp-sections a {
  color:#ffffff;
  text-decoration:none;
  display:block;
  float:right;
  width:133px;
  height:70px;
  padding-top:20px;
}

#webapp-sections li {
  display:inline;
}

#webapp-footer {
	width:100%;
	text-align:center;
}

#webapp-footer ul {
  margin-top:30px;
  margin-bottom:15px;
  font-size:9pt;
}

#webapp-footer a, #webapp-footer {
  color:#373737;
}

#webapp-footer li {
  display:inline;
  padding-left:5px;
  padding-right:5px;
/*  white-space:nowrap;*/
}

#beta-comment {
	font-size:10pt;
	color: white;
	position:absolute;
	top:8px;
	right:8px;
}
