/* Headline Rules */
@import "headline.css";
/* Navigation Rules */
@import "navigation.css";
/* Content Page Rules*/
@import "content.css";

/* Main Rules */
p, div,  td {
  font-family:Lucida Grande, Bitstream Vera Sans, Verdana, Sans, Arial,sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family:Helvetica,Arial,sans-serif;
}

html, body, #webapp-content {
	min-height: 100%;
	width: 100%;
	height: 100%;
}

#webapp-content {
	z-index:50;
}

/*
 * The "height" above is a hack for IE5+/Win.  Below we adjust
 * it using the child selector to hide from IE5+/Win
 */

html>body, html>body #webapp-content {
	height: auto;
}

body {
	margin: 0;
	background-color:#efefef;
	font-family: Arial, sans-serif;
}

#background-repeater {
	left:0px;
	background-color:#fff;
	background-repeat:repeat-y;
}


#background-lines {
	background-repeat:no-repeat;
}


#background-s {
	background-repeat:repeat-x;
	background-position:bottom;
}

#background-n {
	background-repeat:repeat-x;
}

#background-w {
	background-repeat:repeat-y;
}

#background-e {
	background-repeat:repeat-y;
	background-position:right;
}

#background-nw {
	background-repeat:no-repeat;
}

#background-ne {
	background-repeat:no-repeat;
	background-position:right top;
}

#background-sw {
	background-repeat:no-repeat;
	background-position:left bottom;
}

#background-se {
	background-repeat:no-repeat;
	background-position:bottom right;
}

#background-nw {
	background-repeat:no-repeat;
}

#innercontent {
	padding:30px;
}

/* BORDERS */

#background-s {
	background-image:url(../images/border-s.gif);
}

#background-n {
	background-image:url(../images/border-n.gif);
}

#background-w {
	background-image:url(../images/border-w.gif);
}

#background-e {
	background-image:url(../images/border-e.gif);
}

#background-nw {
	background-image:url(../images/border-nw.gif);
}

#background-ne {
	background-image:url(../images/border-ne.gif);
}

#background-sw {
	background-image:url(../images/border-sw.gif);
}

#background-se {
	background-image:url(../images/border-se.gif);
}

#background-nw {
	background-image:url(../images/border-nw.gif);
}






/*
FORMS
*/
	
dl.ductform {
	width:100%;
}

dl.ductform dt label {
	font-size:9pt;
	font-weight:normal;
	color:#666666;
}

dl.ductform dd {
	font-size:14pt;
	color:#333333;
	margin-bottom:5px;
	clear:right;
}

dl.ductform dd input,  dl.ductform dd span.output {
	font-size:14pt;
	color:#333333;
	margin-bottom:15px;
	border-width:1px;
	border-style:inset;
	border-color:#333333;
	width:100%;
	display:block;
	padding:2px;
	float:right;
}

dl.ductform dd span.output {
	border-color:white;
	border-style:solid;
}

dl.ductform a.help {
	display:block;
	margin-left:-30px;
	padding-top:6px;
}

dl.ductform a.help img {
	border:0px;
	display:block;
}