body {
	font-family: arial;
}

#lightboxplaceholder {
	color: #333;
	display: none;
	position: absolute;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
	padding: 1em;
	border: 4px solid #B8B8B8;
	background-color: white;
	text-align: left;
	z-index:1001;
	overflow: auto;	
}

#overlay{
	display:none;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:1000;
	background-color:#333;
	-moz-opacity: 0.9;
	opacity:.90;
	filter: alpha(opacity=80);
}

#lightboxplaceholder[id] { 
	/* IE6 and below Can't See This */ 
	position:fixed;
}

#overlay[id] {
	/* IE6 and below Can't See This */
	position:fixed;
}
