#webapp-header {
  background-image:url(../../../../blocks/mindquarry-webapp-block/resources/images/orange-header-orange.gif);
}

#webapp-sections a.navFiles {
  background-image:url(../../../../blocks/mindquarry-webapp-block/resources/images/orange-header-red.gif);
}

#webapp-sections a.navWiki {
  background-image:url(../../../../blocks/mindquarry-webapp-block/resources/images/orange-header-blue.gif);
}

#webapp-sections a.navTasks {
  background-image:url(../../../../blocks/mindquarry-webapp-block/resources/images/orange-header-green.gif);
}

#webapp-sections a.navTalk {
  background-image:url(../../../../blocks/mindquarry-webapp-block/resources/images/orange-header-yellow.gif);
}

#webapp-sections a.navTeams {
  background-image:url(../../../../blocks/mindquarry-webapp-block/resources/images/orange-header-orange.gif);