a.create_task_button:link, a.create_task_button:visited {
	background-image: url(../buttons/create_task.png);
	display: block;
	width: 140px;
	height: 32px;
	
	text-decoration: none;
	text-align: center;
	color: white;
	
	background-repeat: no-repeat;
	font-size: 10pt;
	padding-top: 9px;
	padding-left: 13px;
}

div.summary {
	margin-top: 10px;
	font-weight:normal;
	color:#666666;
	font-size:10pt;
	clear:both;
}

div.footbar {
	clear:both;
}

ul.task-list {
	margin: 0px;
	clear:both;
	padding: 0px;
}

/* similar to workspace / teamspace */

ul.list {
	list-style: none;
	margin: 0px;
	clear:both;
	padding: 0px;
}

div.name h2 {
	display:inline;
	font-weight:bold;
	color:black;
	font-size:12pt;
	margin-right:5px;
}

div.name img {
	float:left;
}

div.name span {
	font-weight:normal;
	color:#666666;
	font-size:10pt;
}

div.name {
	height:60px;
	margin-right:320px;
	overflow:hidden;
	text-overflow: ellipsis;
}

div.task-area {
	margin-right:320px;
}

td.task_status {
	width:100px;
}

img.task_status {
	height:22px;
	width:22px;
	display:block;
	float:left;
	margin-right:5px;
}

div.task-area table {
	border:0px;
	font-size:10pt;
	text-align:left;
	margin-bottom:15px;
	width:100%;
}

div.task-area table th {
	background:#bee5b8;
}

tr.highlight:hover {
	background-color:#bee5b8;
}

tr a.task_edit_link {
	visibility:hidden;
}

tr:hover a.task_edit_link {
	visibility:visible;
}

a#back {
	display:block;
	background:url(../icons/22x22/actions/go-previous.png);
	height:22px;
	width:22px;
	overflow:hidden;
	/*color:none;*/
	font-size:0px;
	float:left;
	background-repeat:no-repeat;
}

/* same as in workspace.css, should be shared in one css file */
div.links, div.firstlinks {
	float:right;
	width:200px;
}

div.firstlinks {
	margin-top: -16px;
}

div.links {
	margin-top: -60px;
}

div.links ul, div.firstlinks ul {
	list-style: none; /* modified for tasks */
}

div.links ul li, div.firstlinks ul li {
	padding-bottom: 5px;
}

div.links ul a, div.firstlinks ul a  {
	font-size:13.3333px;
	font-weight:400;
	color:#666666;
}

img.icon {
	height:48px;
	width:48px;
	border:1px solid black;
	padding:2px;
	background-color:white;
	margin-right:5px;
}


dl.ductform dt label {
	color:#339933;
}