#block_ductform_ductforms {
	display: none;
}

a.edit_task_button:link, a.edit_task_button:visited {
	background-image: url(../buttons/edit_task.png);
	display: block;
	width: 140px;
	height: 32px;
	text-decoration: none;
	text-align: center;
	color: white;
	background-repeat: no-repeat;
	font-size: 10pt;
	padding-top: 9px;
	padding-left: 13px;
}

table.forms {
	border:0px;
	text-align:left;
	margin-bottom:15px;
	width:100%;
}

th {
	text-align:left;
	vertical-align:top;
}

label.output {
	font-weight:bold;
}

div#actions {
	float:right;
}

div#footbar {
	margin-top:10px;
	clear:both;
}



