div.teams div.edit-buttons {
	float: right;
	clear:both;
	margin-top: -60px;	
	margin-right: 10px;
	margin-left: 10px;
	position: relative;	
	padding: 0;
}

div.teams img.icon {
	height:48px;
	width:48px;
	padding:2px;
	margin-right:5px;
}

div.teams div.name h2 {
	display:inline;
	font-weight:bold;
	color:black;
	font-size:12pt;
	margin-right:5px;
}
div.teams div.name img {
	float:left;
}

div.teams div.name span {
	font-weight:normal;
	color:#666666;
	font-size:10pt;
}

div.teams div.name {
	height:60px;
	margin-right:320px;
	overflow:hidden;
	text-overflow: ellipsis;
	width:auto;
}

div.teams div.details h3 {
	color: #666666;
	font-size: 12px;
	border-bottom: 1px solid #cccccc;
	margin-top:5px;
	margin-bottom:5px;	
}

div.teams div.details {
	clear:both;
	font-size:9pt;
	color:#999999;
	margin-top:4px;
	margin-bottom:6px;
}

.button16 {
	display:block;
	float:left;
	border:none;
	background:none;
	padding:none;
	margin:none;
  }
.button16 span.btn {
	display:block;
	height:20px;
	line-height:20px;
	font-size:12px;
	float:left;
	background-image: url(../buttons/orange/16/middle.png);
  }
  
.button16 b.bpre {
	display:block;
	height:20px;
	width:19px;
	float:left;
	background-image: url(../buttons/orange/16/left.png);
  }
  
.button16 b.bpost {
	display:block;
	height:20px;
	width:4px;
	float:left;
	background-image: url(../buttons/orange/16/right.png);
  }
.button22 {
	display:block;
	float:left;
	border:none;
	background:none;
	padding:none;
	margin:none;
  }

.button22 span.btn {
	display:block;
	height:26px;
	line-height:25px;
	font-size:14px;
	float:left;
	background-image: url(../buttons/orange/22/middle.png);
  }
  
.button22 b.bpre {
	display:block;
	height:26px;
	width:25px;
	float:left;
	background-image: url(../buttons/orange/22/left.png);
  }
  
.button22 b.bpost {
	display:block;
	height:26px;
	width:5px;
	float:left;
	background-image: url(../buttons/orange/22/right.png);
  }
.button32 {
	display:block;
	float:left;
	border:none;
	background:none;
	padding:none;
	margin:none;
  }
.button32 span.btn {
	display:block;
	height:36px;
	line-height:30px;
	font-size:16px;
	float:left;
	background-image: url(../buttons/orange/32/middle.png);
  }
  
.button32 b.bpre {
	display:block;
	height:36px;
	width:25px;
	float:left;
	background-image: url(../buttons/orange/32/left.png);
  }
  
.button32 b.bpost {
	display:block;
	height:36px;
	width:5px;
	float:left;
	background-image: url(../buttons/orange/32/right.png);
  }

 .newteam b.bpre  {
	display:block;
	height:26px;
	width:25px;
	float:left;
	background-image: url(../buttons/orange/22/left/actions/list-add.png);
  }
.newuser b.bpre  {
	display:block;
	height:26px;
	width:25px;
	float:left;
	background-image: url(../buttons/orange/22/left/apps/new-user.png);
  }
.changemembers b.bpre  {
	display:block;
	height:26px;
	width:25px;
	float:left;
	background-image: url(../buttons/orange/22/left/apps/system-users.png);
  }
.editteamsettings b.bpre  {
	display:block;
	height:26px;
	width:25px;
	float:left;
	background-image: url(../buttons/orange/22/left/actions/edit.png);
 }
  

