h1.content {
  position:absolute;
  left:5%;
}

h2 {
  position:absolute;
  left:55%;
  top:180px;
}

#headerimage {
  position:absolute;
  right:2%;
  top:80px;
}

#webapp-content {
  padding-top:60px;
  padding-bottom:100px;
  vertical-align:top;
}
