h1 {
  text-align:center;
  margin-bottom:20px;
}

h1, h2 {
  color:#6b6b6b;
  font-weight:normal;
}

h1.content {
  font-size:36pt;
}

h1.title {
  text-align:center;
  font-size:44pt;
}

#title {
  background-image:url(../images/logo43.png);
  text-align:left;
  padding-left:1em;
  background-repeat:no-repeat;
  background-position: 0% 50%;
}

#divider {
  display:none;
}

#tagline {
  display:block;
  padding-left:5em;
  font-size:50%;
}
