/* styles for rounded boxes */
div.nifty {
	width:100%;
	clear:both;
	margin-bottom:10px;
}

.content {
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
	margin:0px;
	padding:0px 10px;
}

b.rbottom b.r1, b.rtop b.r1, .content {
	background:white;
}

b.rtop,b.rbottom {
	height:10px;
}

b.rtop, b.rbottom, b.rleft, b.rright, b.r1 {
	overflow:hidden;
	display: block;
	margin:0px;
	padding:0px;
}

/* left and right corner  */
b.rleft, b.rright, b.rtop, b.rbottom, b.r1 {
	height: 10px;
}

b.rbottom > b.r1 {
	height:9px;
}

b.rleft, b.rright {
	width: 10px;
}

b.rleft {
	float: left;
	margin-top: -10px;
}

b.rright {
	float: right;
	margin-top: -10px;
}

b.rtop b.rleft {
	background: url(../images/tl.gif);
}

b.rtop b.rright {
	background: url(../images/tr.gif);
}

b.rbottom b.rright {
	background: url(../images/br.gif);
}

b.rbottom b.rleft {
	background: url(../images/bl.gif);
}

b.rtop>b.rright,b.rbottom>b.rright {
	margin-right: 0px;
}

b.rtop>b.rleft,b.rbottom>b.rleft {
	margin-left: 0px;
}


/* middle part of the top and bottom border */
b.rbottom b.r1, b.rtop b.r1 {
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

.rtop .r1 {
	border-top: 1px solid #999999;
}

.rbottom .r1 {
	border-bottom: 1px solid #999999;
}
