/* Headline Rules */
@import "headline.css";
/* Navigation Rules */
@import "navigation.css";
/* Titlepage Rules */
@import "titlepage.css";
/* Content Page Rules*/
@import "content.css";
/* Sitemap Rules */
@import "sidebar.css";

/* Main Rules */
p, div,  td {
  font-family:Lucida Grande, Bitstream Vera Sans, Verdana, Sans, Arial;
}

h1, h2, h3, h4, h5, h6 {
  font-family:Helvetica,Sans,Arial;
}

a:link {
  color:#00f;
}

a:visited {
  color:#039;
}

a:hover {
  text-decoration:none;
}

html, body, #cssbody {
	min-height: 100%;
	width: 100%;
	height: 100%;
}

/*
 * The "height" above is a hack for IE5+/Win.  Below we adjust
 * it using the child selector to hide from IE5+/Win
 */

html>body, html>body #cssbody {
	height: auto;
}

body {
	margin: 0;
	font-family: Arial, sans-serif;
}

#cssbody {
	position: absolute;
	top: 0;
  left: 0;
}
