table#sitemap {
  position:absolute;
  left:5%;
  top:200px;
  font-size:9pt;
  vertical-align:top;
}

table#sitemap td {
  vertical-align:top;
  color:#a3a3a3;
}

#sitemap strong a {
  color:#333333;
}

#sitemap strong {
  display:block;
  font-size:11pt;
  margin-left:-4px;
}

#sitemap a {
  text-decoration:none;
  color:#b3b3b3;
}

#sitemap a:hover {
  text-decoration:underline;
  color:#993333;
}

#sitemap div {
 margin:4px;
}

