#titlepage {
  position:relative;
  font-size:10pt;
}

#titlepage div.left {
  margin-left:5%;
  max-width:30em;
  float:left;
  width:40%;
}

#titlepage div.right {
  margin-left:55%;
  max-width:30em;
  width:40%;
}

ul#sitemap {
  clear:both;
  text-align:center;
}

#sitemap li {
  display:inline;
}

#sitemap img {
  border:0px;
}
