/* Headline Rules */
@import "headline.css";
/* Navigation Rules */
@import "navigation.css";
/* Content Page Rules*/
@import "content.css";

/* Main Rules */
p, div,  td {
  font-family:Lucida Grande, Bitstream Vera Sans, Verdana, Sans, Arial;
}

h1, h2, h3, h4, h5, h6 {
  font-family:Helvetica,Sans,Arial;
}

html, body, #cssbody {
	min-height: 100%;
	width: 100%;
	height: 100%;
}

/*
 * The "height" above is a hack for IE5+/Win.  Below we adjust
 * it using the child selector to hide from IE5+/Win
 */

html>body, html>body #cssbody {
	height: auto;
}

body {
	margin: 0;
	background-color:#efefef;
	font-family: Arial, sans-serif;
}

#cssbody {
	position: absolute;
	top: 0;
  left: 0;
}

#background-repeater {
	left:0px;
	background-color:#fff;
	background-image:url(../images/greyrepeater.png);
	background-repeat:repeat-y;
}


#background-lines {
	background-image:url(../images/greylines.png);
	background-repeat:no-repeat;
}


#background-s {
	background-image:url(../images/border-s.gif);
	background-repeat:repeat-x;
	background-position:bottom;
}

#background-n {
	background-image:url(../images/border-n.gif);
	background-repeat:repeat-x;
}

#background-w {
	background-image:url(../images/border-w.gif);
	background-repeat:repeat-y;
}

#background-e {
	background-image:url(../images/border-e.gif);
	background-repeat:repeat-y;
	background-position:right;
}

#background-nw {
	background-image:url(../images/border-nw.gif);
	background-repeat:no-repeat;
}

#background-ne {
	background-image:url(../images/border-ne.gif);
	background-repeat:no-repeat;
	background-position:right top;
}

#background-sw {
	background-image:url(../images/border-sw.gif);
	background-repeat:no-repeat;
	background-position:left bottom;
}

#background-se {
	background-image:url(../images/border-se.gif);
	background-repeat:no-repeat;
	background-position:right bottom;
	padding:30px;
}

#background-nw {
	background-image:url(../images/border-nw.gif);
	background-repeat:no-repeat;
}
