/* placement of the QuickSearch Widget in the page layout */
/* mindquary-specific styling for the QuickSearch Widget */

#quicksearch {
	padding:0px;
}

div.mindquarry-quicksearch{
	float: right;
	position: absolute;
	font:1em sans-serif,arial,tahoma,verdana;
	top:18px;
	right:93px;
	padding: 0px;

}  
div.search-field, div.result-popup{
	background: none;
	font:11px sans-serif;
	overflow: visible;
}
div.result-popup{
	background-color: #ffffff;
	filter:alpha(opacity=70);   /* IE      */
	-moz-opacity:0.7;           /* Mozilla   */
	opacity: 0.7;               /* newer Mozilla and CSS-3 */	
	border:1px solid #999999;
	padding:5px;
	font:1em bold #000000;
	margin:0;
}
div.mindquarry-quicksearch form {	
	margin-bottom: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
}

div.mindquarry-quicksearch input.input_box {
    filter:alpha(opacity=70);   /* IE      */
	-moz-opacity:0.7;           /* Mozilla   */
	opacity: 0.7;               /* newer Mozilla and CSS-3 */	
	padding:2px;
	padding-top:3px;
	padding-bottom:1px;
	font-size:14px;
	padding-right:30px;
	height:20px;
	width:125px;
	color:#000000;
	margin-top:0px;
	z-index:-1;
	display:block;
	border-width:1px;
}

div.mindquarry-quicksearch input.btn {
	height:22px;
	width:22px;
	margin-left:134px;
	margin-top:-24px;
	z-index:5;
	position:relative;
	display:block;

}


