h1 span#filterName {
	color:black;
	display:block;
	font-size:24px;
	font-weight:normal;
	margin-right:15px;
	padding-top:8px;
	text-align:left;
}

div.form-filter {
	margin:0px;
	padding:10px;
	float:left;
	background-color:#EFEFEF;
	border:1px solid #CCCCCC;
	width:98%;
}
span.sub-rules {
	color:#555555;
	display:block;
	font-size:10pt;
	font-weight:normal;
	text-align:left;
	padding:0px 0px 2px 0px;
}
div#add_rule_block{
	background-color:#dddddd;
	float:left;
	clear:left;
}
div#rules_block{
	background-color:#dddddd;
	float:left;
	clear:left;
}
div.run_action{
	background-color:#dddddd;
	float:left;
	clear:left;
}
table.task-list {
	border:0px;
	font-size:10pt;
	text-align:left;
	margin-bottom:15px;
	width:100%;
}

table.task-list th {
	background:#bee5b8;
}

table.task-list tr.highlight:hover {
	background:#bee5b8;
}

a.help {
	margin-left:4px;
}

a.help img {
	border:0px;
}

img.task_status {
	height:22px;
	width:22px;
	display:block;
	float:left;
	margin-right:5px;
}

td.task_status {
	width:100px;
}

div.actions {
    text-align:left;
    width:100%;
    float:left;
}
/*
div.run_action {
    text-align:right;
    width:100%;
    float:right;
    margin-top: -40px;
}
*/

div.results {
    clear:both;
}

#lightboxcontent {
    position:absolute;
}
/*
#rules_block {
    margin-top:15px;
    margin-bottom:15px;
}
*/

/* Form styles */
div.form-container { margin: 10px; padding: 5px; background-color: #FFF; border: #EEE 1px solid; }

p.legend { margin-bottom: 1em; }
p.legend em { color: #C00; font-style: normal; }

div.errors { margin: 0 0 10px 0; padding: 5px 10px; border: #FC6 1px solid; background-color: #FFC; }
div.errors p { margin: 0; }
div.errors p em { color: #C00; font-style: normal; font-weight: bold; }

div.form-container form p { margin: 0; }
div.form-container form p.note { margin-left: 170px; font-size: 90%; color: #333; }
div.form-container form fieldset { margin: 10px 0; padding: 10px; border: #DDD 1px solid; }
div.form-container form legend { font-weight: bold; color: #666; }
div.form-container form fieldset div { padding: 0.25em 0; }
div.form-container label, 
div.form-container span.label { margin-right: 10px; padding-right: 10px; width: 150px; display: block; float: left; text-align: right; position: relative; }
div.form-container label.error, 
div.form-container span.error { color: #C00; }
div.form-container label em, 
div.form-container span.label em { position: absolute; right: 0; font-size: 120%; font-style: normal; color: #C00; }
div.form-container input.error { border-color: #C00; background-color: #FEF; }
div.form-container input:focus,
div.form-container input.error:focus, 
div.form-container textarea:focus {	background-color: #FFC; border-color: #FC6; }
div.form-container div.controlset label, 
div.form-container div.controlset input { display: inline; float: none; }
div.form-container div.controlset div { margin-left: 170px; }
div.form-container div.buttonrow { margin-left: 180px; }
