div.toolbarContainer {
	border-top:1px solid black;
	border-left:1px solid black;
	border-right:1px solid black;
}

div.RichTextEditable {
	border-left:1px solid black;
	border-right:1px solid black;
	border-bottom:1px solid black;
}

div#footbar {
	margin-top:10px;
	clear:both;
}

