#block_ductform_ductforms {
	display: none;
}

a.edit_task_button:link, a.edit_task_button:visited {
	background-image: url(../buttons/create_task.png);
	display: block;
	width: 140px;
	height: 32px;
	text-decoration: none;
	text-align: center;
	color: white;
	background-repeat: no-repeat;
	font-size: 10pt;
	padding-top: 9px;
	padding-left: 13px;
}

#block_ductform_title label {
	font-weight: bold;
}

#block_ductform_summary label {
	font-weight: bold;
}

div#actions {
	float:right;
}

div#footbar {
	clear:both;
	display:none;
}
