/* dl has by default a 1em (16px) margin top and bottom, but they overlap when
 * two dl follow each other, thus removing the top margin will still result in
 * a 16px gap between them due to the bottom margin */ 
div.tasks dl {
    margin-top: 0px;
}

/* let the buttons float at the right side */
div.tasks dt, div.tasks dd {
    clear: none;
}

div.tasks table.forms {
	border:0px;
	text-align:left;
	margin-bottom:15px;
	width:100%;
}

div.tasks label {
	font-weight:bold;
}

/* the buttons */
div.tasks input.ductform_button {
	display: block;
	text-decoration: none;
	text-align: center;
	color: white;
	background-repeat: no-repeat;
	font-size: 10pt;
	padding-top: 0px;
	padding-left: 13px;
	border:0px;
	float:right;
	clear:both;
	margin-bottom:4px;
}

div.tasks input.editall_button {
	background-image: url(../buttons/editall_task.png);
	width: 154px;
	height: 32px;
}

div.tasks input.save_button {
	background-image: url(../buttons/save_task.png);
	width: 154px;
	height: 32px;
}

div.tasks input.cancel_button {
	background-image: url(../buttons/cancel_edit_task.png);
	width: 154px;
	height: 32px;
}

div.tasks input.delete_button {
	background-image: url(../buttons/cancel_edit_task.png);
	width: 154px;
	height: 32px;
}

input.edit-action b.bpre  { /*editall task button */
	display:block;
	height:26px;
	width:25px;
	float:left;
	background-image: url(../buttons/green/22/left/actions/edit.png);
 }
input.save-action b.bpre  { /*save task button */
	display:block;
	height:26px;
	width:25px;
	float:left;
	background-image: url(../buttons/green/22/left/actions/save.png);
 }
 input.cancel-action b.bpre  { /*cancel edit button */
	display:block;
	height:26px;
	width:25px;
	float:left;
	background-image: url(../buttons/green/22/left/actions/cancel.png);
 }
input.delete-action b.bpre  { /*delete task button */
	display:block;
	height:26px;
	width:25px;
	float:left;
	background-image: url(../buttons/green/22/left/places/user-trash.png);
 }
.button16 {
	display:block;
	float:left;
	border:none;
	background:none;
	padding:none;
	margin:none;
  }
.button16 span.btn {
	display:block;
	height:20px;
	line-height:20px;
	font-size:12px;
	float:left;
	background-image: url(../buttons/green/16/middle.png);
  }
  
.button16 b.bpre {
	display:block;
	height:20px;
	width:19px;
	float:left;
	background-image: url(../buttons/green/16/left.png);
  }
  
.button16 b.bpost {
	display:block;
	height:20px;
	width:4px;
	float:left;
	background-image: url(../buttons/green/16/right.png);
  }
.button22 {
	display:block;
	float:left;
	border:none;
	background:none;
	padding:none;
	margin:none;
  }

.button22 span.btn {
	display:block;
	height:26px;
	line-height:25px;
	font-size:14px;
	float:left;
	background-image: url(../buttons/green/22/middle.png);
  }
  
.button22 b.bpre {
	display:block;
	height:26px;
	width:25px;
	float:left;
	background-image: url(../buttons/green/22/left.png);
  }
  
.button22 b.bpost {
	display:block;
	height:26px;
	width:5px;
	float:left;
	background-image: url(../buttons/green/22/right.png);
  }
.button32 {
	display:block;
	float:left;
	border:none;
	background:none;
	padding:none;
	margin:none;
  }
.button32 span.btn {
	display:block;
	height:36px;
	line-height:30px;
	font-size:16px;
	float:left;
	background-image: url(../buttons/green/32/middle.png);
  }
  
.button32 b.bpre {
	display:block;
	height:36px;
	width:25px;
	float:left;
	background-image: url(../buttons/green/32/left.png);
  }
  
.button32 b.bpost {
	display:block;
	height:36px;
	width:5px;
	float:left;
	background-image: url(../buttons/green/32/right.png);
  }

 

/* green labels for fields */
div.tasks dt label {
	color:#339933;
}

/* turn action labels off */
div.tasks dt label.action {
    display:none;
}

/* dforms field hovering */
div.tasks dd.output /*span.output, div.output*/ {
    border: 1px solid white;
    padding: 2px;
}

div.tasks dd.output:hover /*, span.output:hover, div.output:hover*/ {
    background-color: #FFFFCC;
    border: 1px solid #cccccc;
    padding: 2px;
}

/* hovering highlight should not overlay with the edit/save/cancel buttons */
div.tasks dd.output {
    margin-right: 160px;
}

/* styling for repeater tables (dependencies and people) */
div.tasks dd div.repeater table {
    border-spacing: 0px;
    border: 1px solid #aaaaaa;
}

div.tasks dd div.repeater th {
    font-size: 10pt;
	color:#339933;
	background-color:#eeeeee;
	text-align: left;
}

div.tasks dd div.repeater td {
    padding: 6px;
}

/* for people and dependencies, we want only the table to get highlighted */
div.tasks dd#ductform_people.output:hover, 
div.tasks dd#ductform_dependencies.output:hover {
    background-color: white;
    border: 1px solid white;
}

div.tasks dd.output div.repeater table:hover {
    background-color: #FFFFCC;
    border: 1px solid #cccccc;
}

div.tasks dd.output div.repeater table td img {
    margin-right: 5px;
}

/* nothing in repeater list (no table) */
div.tasks dd div.repeater p:hover {
    background-color: #FFFFCC;
    border: 1px solid #cccccc;
}

/* hide wiki link buttons in editor2 */
div.tasks .createWikiLinkContainer {
    display: none;
}

/* help on/off */

/*dl a.help {
	display:none;
	padding-top:6px;
	width:24px;
	height:24px;
}

dl a.help img {
	border:0px;
	display:none;
}
*/

div.tasks input.field, textarea.field {
    display:block;
    width:80%;
    font-size:12pt;
    padding:2px;
}

div.tasks td input.field {
    display:inline;
    width:350px;
}