a.create_task_button:link, a.create_task_button:visited {
	background-image: url(../buttons/create_task.png);
	display: block;
	width: 140px;
	height: 32px;
	
	text-decoration: none;
	text-align: center;
	color: white;
	
	background-repeat: no-repeat;
	font-size: 10pt;
	padding-top: 9px;
	padding-left: 13px;
}

a.create_filter_button:link, a.create_filter_button:visited {
	background-image: url(../buttons/create_filter.png);
	display: block;
	width: 140px;
	height: 32px;
	
	text-decoration: none;
	text-align: center;
	color: white;
	
	background-repeat: no-repeat;
	font-size: 10pt;
	padding-top: 9px;
	padding-left: 13px;
}
div.summary {
	margin-left:5px;
	margin-top: 10px;
	font-weight:normal;
	color:#666666;
	font-size:10pt;
}

div.footbar {
	clear:both;
}

ul.task-list {
	margin: 0px;
	clear:both;
	padding: 0px;
}

/* similar to workspace / teamspace */

ul.list {
	list-style: none;
	margin: 0px;
	clear:both;
	padding: 0px;
}

div.name h2 {
	display:inline;
	font-weight:bold;
	color:black;
	font-size:12pt;
	margin-right:5px;
}

div.name img {
	float:left;
}

div.name span {
	font-weight:normal;
	color:#666666;
	font-size:10pt;
}
div.name {
	height:autof;
	margin-right:220px;
	overflow:visible;
	text-overflow:ellipsis;
	width:auto;
}
div.task-area {
	margin-right:320px;
}

td.task_status {
	width:100px;
}

img.task_status {
	height:22px;
	width:22px;
	display:block;
	float:left;
	margin-right:5px;
}

div.task-area table {
	border:0px;
	font-size:10pt;
	text-align:left;
	margin-bottom:15px;
	width:100%;
	padding:0px;
	border-spacing:0px;
}

div.task-area table th {
	background-color:#bee5b8;
	color:black;
}

tr.highlight td {
    background-color:white;
	color:#333333;
	border-top:1px solid white;
	border-bottom:1px solid white;
	padding-top:2px;
}

tr.highlight:hover td {
	border-bottom-color:#bee5b8;
	border-top-color:#dff7da;
	background-color:#cff6c9;
	color:#666666;
}

tr a.task_edit_link {
	visibility:hidden;
}

tr:hover a.task_edit_link {
	visibility:visible;
}

a#back {
	display:block;
	background:url(../icons/22x22/actions/go-previous.png);
	overflow:hidden;
	/*color:none;*/
	height:24px;
	padding:1px;
	padding-left:24px;
	float:left;
	background-repeat:no-repeat;
}

/* same as in workspace.css, should be shared in one css file */
div.links, div.firstlinks {
	width:200px;
	float:right;
	position: relative;
}

div.firstlinks {
	margin-top: 0px;
}

div.links {
	margin-right:10px;
	width:200px;
	float:right;
	margin-top:0px;
	margin-right: 10px;
	margin-left: 10px;
	position: relative;	
	padding: 0;
	clear:both;
}

div.links ul, div.firstlinks ul {                                   
	list-style: none; /* modified for tasks */
}

div.links ul li, div.firstlinks ul li {
	padding-top: 0px;
	padding-bottom: 0px;
}

div.links ul a, div.firstlinks ul a  {
	font-size:13.3333px;
	font-weight:400;
	color:#666666;
}

img.icon {
	height:48px;
	width:48px;
	border:1px solid black;
	padding:2px;
	background-color:white;
	margin-right:5px;
}


dl.ductform dt label, dl.ductform dd div.repeater th {
	color:#339933;
}

div.queries h3 {
	font-size: 12px;
	border-bottom: 1px solid gray;
}

div.queries {
	color: #666666;
	font-size: 12px;
	clear:both;
}
