body #background-repeater {
	left:0px;
	background-color:#fff;
	background-image:url(../images/orangerepeater.png);
	background-repeat:repeat-y;
}


body #background-lines {
	background-image:url(../images/orangelines.png);
	background-repeat:no-repeat;
}

#lightboxplaceholder {
	color: #333;
	display: none;
	position: absolute;
	top: 20%;
	left: 20%;
	margin-left:auto;
	margin-right:auto;
	width: 60%;
	/*
	height: 80%;
	*/
	padding: 1em;
	border: 4px solid #B8B8B8;
	background-color: white;
	z-index:1001;
	overflow: hidden;
	text-align:center;	
}

#overlay{
	display:none;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:1000;
	background-color:#333;
	-moz-opacity: 0.9;
	opacity:.90;
	filter: alpha(opacity=80);
}

#lightboxplaceholder[id] { 
	/* IE6 and below Can't See This */ 
	position:fixed;
}

#overlay[id] {
	/* IE6 and below Can't See This */
	position:fixed;
}
