#webapp-header {
	background-image:
		url(../../../../blocks/mindquarry-webapp-resources/resources/images/orange-header-orange.png)
		;
}

#webapp-sections a.navFiles {
	background-image:
		url(../../../../blocks/mindquarry-webapp-resources/resources/images/orange-header-red.png)
		;
}

#webapp-sections a.navWiki {
	background-image:
		url(../../../../blocks/mindquarry-webapp-resources/resources/images/orange-header-blue.png)
		;
}

#webapp-sections a.navTasks {
	background-image:
		url(../../../../blocks/mindquarry-webapp-resources/resources/images/orange-header-green.png)
		;
}

#webapp-sections a.navTalk {
	background-image:
		url(../../../../blocks/mindquarry-webapp-resources/resources/images/orange-header-yellow.png)
		;
}

#webapp-sections a.navTeams {
	background-image:
		url(../../../../blocks/mindquarry-webapp-resources/resources/images/orange-header-orange.png)
		;
}

a.edit_members_button:link, a.edit_members_button:visited {
	background-image: url(../../resources/buttons/edit_member.gif);
	display: block;
	width: 140px;
	height: 32px;
	text-decoration: none;
	text-align: center;
	color: white;
	background-repeat: no-repeat;
	font-size: 10pt;
	padding-top: 9px;
	padding-left: 13px;
}

a.edit_subprojects_button:link, a.edit_subprojects_button:visited {
	background-image: url(../../resources/buttons/edit_subprojects.gif);
	display: block;
	width: 140px;
	height: 32px;
	text-decoration: none;
	text-align: center;
	color: white;
	background-repeat: no-repeat;
	font-size: 10pt;
	padding-top: 9px;
	padding-left: 13px;
}

div.edit-buttons {
	float:right;
	display:none;
}

a.create_teamspace_button:link, a.create_teamspace_button:visited {
	background-image: url(../../resources/buttons/create_teamspace.gif);
	display:block;
	width: 140px;
	height: 32px;
	text-decoration: none;
	text-align: center;
	color: white;
	background-repeat: no-repeat;
	font-size: 10pt;
	padding-top: 9px;
	padding-left: 13px;
	float:right;
	/*
	margin-left:auto;
	*/
	margin-right:11px;
}

a.create_user_button:link, a.create_user_button:visited {
	background-image: url(../../resources/buttons/create_user.gif);
	display:block;
	width: 140px;
	height: 32px;
	text-decoration: none;
	text-align: center;
	color: white;
	background-repeat: no-repeat;
	font-size: 10pt;
	padding-top: 9px;
	padding-left: 13px;
	float:right;
	/*
	margin-left:auto;
	*/
	margin-right:11px;
}

ul.teamspace-list {
	list-style: none;
	margin: 0px;
	clear:both;
	padding: 0px;
}

/* styles for rounded boxes */
div.nifty {
	width:100%;
	clear:both;
	margin-bottom:10px;
}

.content {
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
	margin:0px;
	padding:0px 10px;
}

b.rbottom b.r1, b.rtop b.r1, .content {
	background:white;
}

b.rtop,b.rbottom {
	height:10px;
}

b.rtop, b.rbottom, b.rleft, b.rright, b.r1 {
	overflow:hidden;
	display: block;
	margin:0px;
	padding:0px;
}

/* left and right corner  */
b.rleft, b.rright, b.rtop, b.rbottom, b.r1 {
	height: 10px;
}

b.rbottom > b.r1 {
	height:9px;
}

b.rleft, b.rright {
	width: 10px;
}

b.rleft {
	float: left;
	margin-top: -10px;
}

b.rright {
	float: right;
	margin-top: -10px;
}

b.rtop b.rleft {
	background: url(../images/tl.gif);
}

b.rtop b.rright {
	background: url(../images/tr.gif);
}

b.rbottom b.rright {
	background: url(../images/br.gif);
}

b.rbottom b.rleft {
	background: url(../images/bl.gif);
}

b.rtop>b.rright,b.rbottom>b.rright {
	margin-right: 0px;
}

b.rtop>b.rleft,b.rbottom>b.rleft {
	margin-left: 0px;
}


/* middle part of the top and bottom border */
b.rbottom b.r1, b.rtop b.r1 {
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

.rtop .r1 {
	border-top: 1px solid #999999;
}

.rbottom .r1 {
	border-bottom: 1px solid #999999;
}

img.icon {
	height:48px;
	width:48px;
	border:1px solid black;
	padding:2px;
	margin-right:5px;
}

div.name h2 {
	display:inline;
	font-weight:bold;
	color:black;
	font-size:12pt;
	margin-right:5px;
}

div.name img {
	float:left;
}

div.name span {
	font-weight:normal;
	color:#666666;
	font-size:10pt;
}

div.name {
	height:60px;
	overflow:hidden;
	text-overflow: ellipsis;
}

ul.members {
	clear:both;
	width:320px;
	float:right;
	margin-right:5px;
	position:relative;
	z-index:2;
}

ul.members li {
	display:block;
	width:50px;
	font-size:8pt;
	padding-top:50px;
	overflow:hidden;
	float:left;
	margin:0px 2px;
	text-align:center;
}

ul.tags {
	clear:left;
	background-image:url(../images/tag_32.png);
	height:32px;
	background-repeat:no-repeat;
	padding-top:6px;
	background-position:6px 0px;
	overflow:hidden;
}

ul.tags li {
	display:inline;
	font-size:9pt;
	margin:0px 3px;
}
 a:link, a:visited {
 	color:#3333ff;
 	text-decoration:none;
}

a.slidernext {
	display:block;
	background:url(../icons/22x22/actions/go-next.png);
	height:22px;
	width:22px;
	overflow:hidden;
	/*color:none;*/
	font-size:0px;
	background-repeat:no-repeat;
	margin-top:12px;
}

a.sliderprev {
	display:block;
	background:url(../icons/22x22/actions/go-previous.png);
	height:22px;
	width:22px;
	overflow:hidden;
	float:left;
	/*color:none;*/
	font-size:0px;
	background-repeat:no-repeat;
	margin-top:12px;
}

a.details-collapsed {
	background-image: url(../../resources/buttons/details_collapsed.gif);
	height:16px;
	width:16px;
	overflow:hidden;
	float:left;
	margin-right:6px;
	display: block;
	color: none;
	font-size:0px;
	background-repeat: no-repeat;
}

a.details-expanded {
	background-image: url(../../resources/buttons/details_expanded.gif);
	height:16px;
	width:16px;
	overflow:hidden;
	float:left;
	margin-right:6px;
	display: block;
	color: none;
	font-size:0px;
	background-repeat: no-repeat;
}

div.details h3 {
	/*display: none;*/
	color: #666666;
	font-size: 12px;
	border-bottom: 1px solid grey;
}

div.detail {
	font-size:9pt;
	color:#999999;
	width:250px;
	height:50px;
	padding:2px;
	margin:2px;
	float:left;
	overflow:hidden;
	margin-bottom:5px;
}

div.details {
	clear:both;
	font-size:9pt;
	color:#999999;
}

div.detail img {
	float:left;
	margin:1px;
	margin-right:3px;
	border:1px solid black;
	padding:1px;
	height:42px;
	width:42px;
}

div.detail h4 {
	margin:1px;
	display:inline;
}